
LMNOP/
수업/m6_머신러닝 이해/house_price.csv
수업/m6_머신러닝 이해/creditcard.csv
수업/m8_머신러닝 응용/test.tsv.7z
수업/m8_머신러닝 응용/sample_submission.csv.7z
수업/m8_머신러닝 응용/sample_submission_stg2.csv.zip
수업/m8_머신러닝 응용/test_stg2.tsv.zip
*.tsv
수업/m8_머신러닝 응용/tmdb_5000_movies.csv
수업/m8_머신러닝 응용/tmdb_5000_credits.csv
